.containerCompleto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.containerProd {
    display: inherit;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.carrusel {
        & img {
            margin: auto;
        }

        & .carrusel__imgH {
            height: 600px;
        
    }
}